.container {
  width: 100%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  
}

.labelGlutenFee {
    color: var(--red-color);
    font-size: 2rem;
}