.container {
  width: 100%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  
}

.labelGlutenFee {
    color: var(--red-color);
    font-size: 2rem;
}

.navigationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

img.nextArrow {
  transform: rotate(180deg);
}