.container {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  flex-wrap: wrap;
  position: relative;
}

.labelGlutenFee {
    color: var(--label-gluten-free-color);
    font-size: 1.6rem;
    font-weight: bold;
}
.labelFattoAMano {
  font-size: 1.6rem;
  color: var(--green-color);
}

.navigationButton {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 3rem;
}

img.nextArrow {
  transform: rotate(180deg);
}

.labelNext {
  font-size: 2rem;
}

.actions {
  position: absolute;
  text-decoration: underline;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.4rem;
}