body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  color: #ffffff;
  font-size: 16px;

  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/** variable **/
:root {
  --header-height: 10vh;
  --content-height: 90vh;
  --green-color: rgb(6, 211, 0);
  --red-color: rgb(255,2,0);
  --orange-color: rgb(237,105,45);
  --orange-light-color: rgb(225,143,0);
  --blue-color: rgb(1, 132, 134);
  --purple-color: rgb(155,5,88);
  --yellow-color: rgb(255,221,79);
}
/** end variables **/