body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  color: #ffffff;
  font-size: 16px;

  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/** variable **/
:root {
  --header-height: 15vh;
  --content-height: 85vh;
  --green-color: rgb(176, 255, 1);
  --red-color: rgb(163,0,0);
  --orange-color: rgb(237,105,45);
  --orange-light-color: rgb(254,144,0);
  --blue-color: rgb(2, 132, 254);
  --purple-color: rgb(154,0,254);
  --yellow-color: rgb(255,221,79);
  --label-gluten-free-color: rgb(255,2,0);
}
/** end variables **/

.lampeggio {
  animation-name: lampeggio;
  animation-iteration-count: infinite;
  animation-duration: .5s;
  animation-direction: alternate;
}

@keyframes lampeggio {
  0%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1.2);
  }
}