body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  color: #ffffff;
  font-size: 16px;

  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/** variable **/
:root {
  --gree-color: rgb(58, 165, 42);
  --red-color: red;
}
/** end variables **/