.container {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 3.5rem;
  position: relative;
}

.filigrana::before {
  content: " ";
  background: black;
  opacity: .6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
}


.image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}